$red: #f00;
$black: #393939;
$gray: #3a3a3a;
$green: #17b978;
$blue: #00587a;
$yellow: #ffc764;
$orange: #f58634;
$purple: #a685e2;
$lightGray: #e1e1e1;
$offWhite: #fcfcfc;
$maxWidth: 1000px;
$bs: 0 12px 24px rgba(0,0,0,0.09);

$accent: $purple;